<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONTACTOS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contactos.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/image 19.webp') }}" type="QORI-PERU">
</head>

<body>

    <!-- Barra de navegación -->
    <div class="container-fluid" style="background-color: #F8F2E4; font-weight: 700;">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand ms-5" href="{{ url_for('home') }}">
                    <img src="{{ url_for('static', filename='img/logo.webp') }}" alt="Logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item me-2">
                            <a class="nav-link nav-link-underline" style="color: black;"
                                href="{{ url_for('home') }}">Inicio</a>
                        </li>
                        <li class="nav-item dropdown me-2">
                            <a class="nav-link dropdown-toggle" style="color: black;" href="#" id="productosDropdown"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Productos
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="productosDropdown">
                                <li><a class="dropdown-item" href="{{ url_for('ceramica') }}">Cerámicas</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('joyeria') }}">Joyería Artesanal</a>
                                </li>
                                <li><a class="dropdown-item" href="{{ url_for('retablos') }}">Retablos</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('textiles') }}">Textiles</a></li>
                            </ul>
                        </li>
                        <li class="nav-item me-2">
                            <a class="nav-link nav-link-underline" style="color: black;"
                                href="{{ url_for('ceramica') }}">Tiendas</a>
                        </li>
                        <li class="nav-item me-2">
                            <a class="nav-link nav-link-underline" style="color: black;"
                                href="{{ url_for('nosotros') }}">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-underline" style="color: black;"
                                href="{{ url_for('contactos') }}">Contactos</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item me-2">
                            <a class="nav-link" href="#"><i class="fas fa-search" style="color: black;"></i></a>
                        </li>
                        <li class="nav-item me-2">
                            {% if current_user.is_authenticated %}
                                <!-- Si el usuario está autenticado, redirigir a Mis Pedidos -->
                                <a class="nav-link" href="{{ url_for('mispedidos_bp.mis_pedidos') }}">
                                    <i class="fas fa-box" style="color: black;"></i>
                                </a>
                            {% else %}
                                <!-- Si el usuario NO está autenticado, abrir el modal de login -->
                                <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#loginModal">
                                    <i class="fas fa-box" style="color: black;"></i>
                                </a>
                            {% endif %}
                        </li>                           
                        <ul class="navbar-nav">
                            <li class="nav-item me-2">
                                {% if current_user.is_authenticated %}
                                    <!-- Si el usuario está autenticado, redirigir al carrito -->
                                    <a class="nav-link" href="{{ url_for('carrito') }}">
                                        <i class="fas fa-shopping-cart" style="color: black;"></i>
                                    </a>
                                {% else %}
                                    <!-- Si el usuario NO está autenticado, abrir el modal de login -->
                                    <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#loginModal">
                                        <i class="fas fa-shopping-cart" style="color: black;"></i>
                                    </a>
                                {% endif %}
                            </li>
                        </ul>    
                    </ul>
                    <ul class="navbar-nav me-5">
                        {% if current_user.is_authenticated %}
                        <li class="nav-item d-flex align-items-center">
                            <span class="nav-link" style="color: black;">{{ current_user.nombres }} |</span>
                            <a href="{{ url_for('autenticacion_bp.logout') }}" class="nav-link nav-link-underline"
                                style="color: black;">
                                Cerrar Sesión
                            </a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <button class="nav-link nav-link-underline" data-bs-toggle="modal"
                                data-bs-target="#loginModal" style="background: none; border: none; color: black;">
                                <i class="fa-solid fa-user"></i>&nbsp;&nbsp;Iniciar Sesión
                            </button>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="background-color: #FDE8BC; border-radius: 10px;">
                <div class="modal-header" style="border-bottom: none;">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img src="{{ url_for('static', filename='img/peru.webp') }}" alt="Logo 1" class="mb-3">
                    <img src="{{ url_for('static', filename='img/libreartesania.webp') }}" alt="Logo 2" class="mb-3">
                    <img src="{{ url_for('static', filename='img/secretaría.webp') }}" alt="Logo 3" class="mb-3">
                    <h5 class="mb-3">INICIAR SESIÓN PARA COMPRAR</h5>
                    <p class="mb-3">Inicia sesión y accede a beneficios exclusivos para clientes.</p>
                    <form id="login" class="form" action="{{ url_for('autenticacion_bp.login') }}" method="POST">
                        <div class="mb-3 text-start">
                            <label for="email" class="form-label">Correo electrónico:</label>
                            <input type="email" class="form-control" id="email" name="email"
                                placeholder="Ingresa tu correo electrónico" autocomplete="off" required>
                        </div>
                        <div class="mb-3 text-start">
                            <label for="password" class="form-label">Contraseña:</label>
                            <input type="password" class="form-control" id="password" name="contrasena"
                                placeholder="Ingresa tu contraseña" autocomplete="off" required>
                            <div class="d-flex justify-content-between mt-2">
                                <a href="#" class="form-text">¿Olvidaste tu contraseña?</a>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary w-100 mb-3"
                            style="background-color: #FBD88F; border: none; color: black;">Ingresar</button>
                    </form>
                    <p class="mb-2 text-center">¿Aún no tienes cuenta? <a
                            href="{{ url_for('registrate') }}">Regístrate</a></p>
                </div>
            </div>
        </div>
    </div>

    <div>
        <img src="{{ url_for('static', filename='img/background1.webp') }}" class="img-fluid mt-4 mb-4 w-100">
    </div>

    <!-- Contactos -->
    <div class="container">
        <div class="row">
            <h1 style="font-weight: 700;">CONTACTANOS</h1>
            <p>Comunícate con nosotros a través de nuestros canales</p>
            <div class="col-md-6">
                <div class="mb-3">
                    <h5 class="textp">REDES SOCIALES</h5>
                    <div class="social-links">
                        <p><i class="fab fa-facebook"></i> Qori Peru</p>
                        <p><i class="fab fa-twitter"></i> @Qori_Peru</p>
                        <p><i class="fab fa-instagram"></i> @Qori_Peru</p>
                    </div>
                </div>
                <div class="mb-3">
                    <h5 class="textp">TELEFONO</h5>
                    <p>987 - 654 - 321 | 987 - 654 - 123</p>
                </div>
                <div class="mb-3">
                    <h5 class="textp">SOPORTE</h5>
                    <p>correo_qori@qori.pe</p>
                </div>
                <div>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.4575151203833!2d-79.83644252585398!3d-6.76241117141881!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x904cedcc2a851b8f%3A0x8fa5f515bb67ff11!2sChiclayo%2C%20Peru!5e0!3m2!1sen!2sus!4v1625498748492!5m2!1sen!2sus"
                        width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy">
                    </iframe>
                </div>
            </div>
            <div class="col-md-6 p-4 form-container" style="background-color: #F8F2E4;">
                <h5>ENVIAR MENSAJE</h5>
                <form>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" id="name" placeholder="Nombres y Apellidos">
                    </div>
                    <div class="form-group mt-3">
                        <input type="email" class="form-control" id="email" placeholder="Correo electrónico">
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" id="phone" placeholder="Teléfono">
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" id="subject" placeholder="Asunto">
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" id="message" rows="4" placeholder="Mensaje"></textarea>
                    </div>
                    <div class="form-check mt-3 mb-3">
                        <input type="checkbox" class="form-check-input" id="policy">
                        <label class="form-check-label" for="policy">He leído y acepto la política de protección de
                            datos.</label>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-warning btn-block">ENVIAR MENSAJE</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div>
        <img src="{{ url_for('static', filename='img/background1.webp') }}" class="img-fluid mt-4 mb-4 w-100">
    </div>

    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h5>Tus pedidos</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" style="color: black; text-decoration: none;">Pedidos</a></li>
                        <li><a href="{{ url_for('cambios') }}" style="color: black; text-decoration: none;">Envíos</a>
                        </li>
                        <li><a href="#" style="color: black; text-decoration: none;">Formas de pago</a></li>
                        <li><a href="{{ url_for('cambios') }}" style="color: black; text-decoration: none;">Cambio y
                                devoluciones</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>Atención al cliente</h5>
                    <ul class="list-unstyled">
                        <li><a href="{{ url_for('preguntas') }}" style="color: black; text-decoration: none;">Preguntas
                                frecuentes</a></li>
                        <li><a href="{{ url_for('contactos') }}"
                                style="color: black; text-decoration: none;">Contáctanos</a></li>
                        <li><img src="{{ url_for('static', filename='img/libro.webp') }}" alt="Libro de Reclamaciones">
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>Acerca de</h5>
                    <ul class="list-unstyled">
                        <li><a href="{{ url_for('nosotros') }}" style="color: black; text-decoration: none;">Sobre
                                nosotros</a></li>
                        <li><a href="{{ url_for('legales') }}" style="color: black; text-decoration: none;">Legales
                                generales</a></li>
                        <li><a href="{{ url_for('terminos') }}" style="color: black; text-decoration: none;">Términos y
                                condiciones</a></li>
                        <li><a href="{{ url_for('politicas') }}" style="color: black; text-decoration: none;">Política
                                de privacidad</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>Redes sociales</h5>
                    <div class="social-icons">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-tiktok"></i></a>
                    </div>
                    <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='img/logo.webp') }}"
                            alt="QORI PERU" style="width: 200px; margin-top: 20px;"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom py-3">
        <div class="container">
            <p class="text-center mb-0">QORI PERÚ S.A.C 2024 - Todos los Derechos Reservados ©</p>
        </div>
    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://kit.fontawesome.com/79be0d4522.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>